* {
	font-size: 14pt;
	margin: 3px;
	font-family: monospace;
}

#playerlist-compatibilizer textarea {
	width: 100%;
	height: 40vh;
}

#playerlist-compatibilizer button {
	width: 100%;
}

#playerlist-duplicates textarea {
	width: 100%;
	height: 40vh;
}

#playerlist-duplicates button {
	width: 100%;
}

#stour-points-calc textarea {
	width: 100%;
	height: 40vh;
}

#stour-points-calc button {
	width: 100%;
}

#playerlist-manipulator textarea {
	width: 100%;
	height: 75vh;
}

#playerlist-manipulator button[class='lrg'] {
	width: 100%;
}

#playerlist-manipulator button[class='sml'] {
	width: 20%;
}
